@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Work+Sans:800');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: $primary-green;
}

h1, h2, h3, h4{
    color: $primary-black;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 20px;
}

.wrapper{
    width: 100%;
    padding: 20px;
    text-align: center;

    p,a{
        font-family: 'Source Sans Pro', sans-serif;
    }
}

.button{
    border-radius: 2px;
    box-shadow: $box-shadow;
    border: none;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
    font-size: 12pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}