#home-wrapper{

    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    h1{
        margin-bottom: 40px;
    }

    ul{
        list-style-type: none;

        li{            
            
            a{
                color: white;
                padding: 20px;
                list-style-type: none;
                font-size: 16pt;
            }

        }

    }
        
}