nav{

    ul{
        display: flex;
        justify-content: space-between;

        li{
            list-style-type: none;
            display: flex;
            align-items: center;

            a{
                background: $primary-red;
                padding: 10px;
                color: white;
                text-decoration: none;


                i{
                    margin-left: 5px;
                }
            }

        }

    }

}