
.player-Score-Wrapper{
    //height: 200px;
    width: 100%;
    border: 5px solid black;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    .player-score-wrapper p{
        
    }
}

.points-wrappers{
    
}