
.player-score-wrapper{
    //height: 200px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;

    .score-buttons-wrapper{

        padding: 10px;
    
        .score-button{
            padding: 10px;
            margin: 5px;
            height: 45px;
            width: 45px;
            border: none;
            border-radius: 50%;
            font-weight: bold;
            box-shadow: $box-shadow;

        }
    
        .score-button-white{
            background: $primary-white;
            color: $primary-black;

            &:hover{
                background: $secondary-white;
            }

        }
    
        .score-button-red{
            background: $primary-red;
            color: $primary-white;
                    
            &:hover{
                background: $secondary-red;
            }
    
        }

    }
    
    .player-score{
        font-size: 26pt;
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        
        .player-turn-score{
            color: yellow;
        }

    }

    #player-name-wrapper{
        display: flex;
        justify-content: center;

        #edit-player-name{
            padding: 5px;
            color: $primary-black;
            background: $primary-yellow;
            margin: 5px;
        }
                
        .player-names{
            font-size: 16pt;
            padding: 5px;
        }
    }

    #name-change-input{
        justify-content: center;
        margin-top: 5px;

        input[type=text]{
            padding: 5px;
            border-radius: 2px;
            box-shadow: $box-shadow;
            border: none;
        }

        button{
            margin: 0;
            margin-left: 10px;
            padding: 5px;
            color: $primary-black;
            background: $primary-yellow;
        }

    }

}

@keyframes slideOff{

    0%{

    }

    100%{
        transform: translateX(150%);
    }

}

@keyframes slideOn{
    
        
    0%{
        transform: translateX(-150%);
    }

    100%{
        transform: translateX(0);
        
    }

}

.slideOff{
    animation: slideOff 1s;
}

.slideOn{
    // transition-delay: 1s;
    animation: slideOn 1s;
}

#player-scoring-wrapper{
    box-shadow: $box-shadow;
    border-radius: 2px;

    span{
        display: flex;
        justify-content: space-around;
    }

}

.reset-button-container{
    width: 100%;
    display:flex;
    padding: 10px;
    margin: auto;
    flex-wrap: wrap;
}

.reset-score-button{
    width: 40%;
    height: 50px;
    background: yellow;
}

.next-turn-button{
    width: 90%;
    height: 50px;
    background: $primary-white;
   
}