
.player-score-wrapper{
    //height: 200px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;

    .score-buttons-wrapper{

        padding: 10px;
    
        .score-button{
            padding: 10px;
            margin: 5px;
            height: 45px;
            width: 45px;
            border: none;
            border-radius: 50%;
            font-weight: bold;
            box-shadow: 1px 1px grey;

        }
    
        .score-button-white{
            background: $primary-white;
            color: $primary-black;

            &:hover{
                background: $secondary-white;
            }

        }
    
        .score-button-red{
            background: $primary-red;
            color: $primary-white;
                    
            &:hover{
                background: $secondary-red;
            }
    
        }

    
    }

    .player-score{
        font-size: 26pt;
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        
        .player-turn-score{
            color: yellow;
        }

    }

    .player-names{
        font-size: 16pt;
    }

    input[type=text]{
        padding: 5px;
        border-radius: 2px;
        box-shadow: $box-shadow;
        border: none;
    }

}

.player-scoring-wrapper{
    background: $secondary-green;
    box-shadow: $box-shadow;
}

.reset-button-container{
    width: 100%;
    display:flex;
    padding: 10px;
    margin: auto;
    flex-wrap: wrap;
}

.reset-score-button{
    width: 40%;
    height: 50px;
    background: yellow;
}

.next-turn-button{
    width: 90%;
    height: 50px;
    background: $primary-white;
   
}