#rules-wrapper {
    color: $primary-white;
    box-shadow: $box-shadow;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    opacity: 0.5;
    background: $primary-white;
    height: 15px;
    width: 15px;

}

.swiper-pagination-bullet-active {

    opacity: 1;
    background: $gold-1;
}

// .swiper-button-next{
//     right: 0;
// }

// .swiper-button-prev{
//     left: 0;
// }

#rules-wrapper p {
    margin-bottom: 20px;
}