#rules-wrapper{
    box-shadow: $box-shadow;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.swiper-pagination-bullet-active {
    
    opacity: 1;
    background: $primary-yellow;
}

#rules-wrapper p{
    margin-bottom: 50px;
}