$primary-green: #00c853;
$secondary-green: #5efc82;

$blue-1: #040637;
$blue-2: #fff;
$blue-3: #fff;
$blue-4: #fff;
$blue-5: #fff;

$gold-1: #d1b14b;
$gold-2: #fff;
$gold-3: #fff;
$gold-4: #fff;
$gold-5: #fff;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Work+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$title-font: 'Arial';
$text-font: 'Rubik';

$primary-red: #C62828;
$secondary-red: #ff6659;

$primary-white: #eaeaea;
$secondary-white: #d6d6d6;

$primary-black: #131313;

$primary-yellow: #ffeb3b;
$secondary-yellow: #ffff72;

$box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
